$white: #ffffff;
$black: #4E4C4C;

$primary-default: #F0A500;
$primary-light: #FFB81D;
$primary-lighter: #FFC632;
$primary-add: #FFDC82;

$green-default:  #09706B;
$green-light: #238F8A;

$purple-default: #5A327D;
$purple-light: #7541A3;


$color-link: #427FE6;
$link-hover: #9CBEF5;
$error: #E12D73;
$success: #3CBC77;

//gray-scale
$gs-bg: #F4F4F6;
$gs-text: #BDC2CC;
$gs-input-title: #7E7C87;