@font-face {
    font-family: 'ALS Schlange sans';
    src: url('../../public/fonts/ALSSchlangesans-Bold.eot'),
        url('../../public/fonts/ALSSchlangesans-Bold.woff2') format('woff2'),
        url('../../public/fonts/ALSSchlangesans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Schlange sans';
    src: url('../../public/fonts/ALSSchlangesans-Black.eot'),
        url('../../public/fonts/ALSSchlangesans-Black.woff2') format('woff2'),
        url('../../public/fonts/ALSSchlangesans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Schlange sans';
    src: url('../../public/fonts/ALSSchlangesans-Light.eot'),
        url('../../public/fonts/ALSSchlangesans-Light.woff2') format('woff2'),
        url('../../public/fonts/ALSSchlangesans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Schlange sans';
    src: url('../../public/fonts/ALSSchlangesans-Thin.eot'),
        url('../../public/fonts/ALSSchlangesans-Thin.woff2') format('woff2'),
        url('../../public/fonts/ALSSchlangesans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'ALS Schlange sans';
    src: url('../../public/fonts/ALSSchlangesans.eot'),
        url('../../public/fonts/ALSSchlangesans.woff2') format('woff2'),
        url('../../public/fonts/ALSSchlangesans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
